@import "./responsive.scss";


.layout{

    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: rgb(244, 164, 135);
        max-width: 1280px;
    }
    @include md{
        background-color: rgb(98, 137, 210);
        max-width: 768px;
    }
    @include sm{
        background-color: rgb(238, 98, 98);
        max-width: 640px;
    }
}